/* ========== POPPINS FONTS ========== */
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Indifference', sans-serif;
                                                
}

/* ========== COLOR ========== */
:root{
    --primary-color: #0A4476;
    --second-color: #4287f5;
    --black-color: #000;
    --gray-color: #758086;
    --gray-trans: rgba(112, 128, 134, 0.3);
    --blue-trans: rgba(10, 68, 118, 0.3)
}

/* ========== REUSABLE CSS ========== */

a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    text-decoration: underline;
}






/*=============== LOGIN REGISTRER ===============*/





.body-login{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
        ), url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* ========== WRAPPER ========== */

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.login_box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2em;
    padding-top: 2.5em;
    color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);


}
.login_box2{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border-radius: 15px;
    padding: 0.5em 2.5em 1em 2em;
    
    color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);



}

.login_header, .login_header2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_header img{
    height: 150px;
}
.login_header2 img{
    height: 100px;
}



.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;

}

#user{
    margin-bottom: 10px;

}
.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: #fff;
    padding: 0 10px;

}

.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}



.input-submit{
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}
.input-submit:hover{
    background: var(--second-color);

}

.register, .frogot{
    text-align: center;

}

.register a , .frogot a{
    font-weight: 900;
}

@media only screen and (max-width: 564px){
    .wrapper{
        padding: 20px;
    }
    .login_box{
        padding: 7.5em 1.5em 4em 1.5em;
    }
}





/*=============== INICIO ================*/





/*=============== NAV ================*/



.header-index{
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--blue-trans);
    backdrop-filter: blur(15px);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 12px 20px;
}
.logo-n{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.logo-n p{
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
.logo img {width: 40px;}
.menu {
    display: flex;
    margin-right: 50px;
}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: 0.15s ease-in-out;
}
.menu li a:hover{color: var(--primary-color);}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--gray-color);
    cursor: pointer;
    font-size: 2.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 800px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--primary-color);
        transition: all 0.2s ease-in-out;
        margin-right: 0;
    }
    .logo-n{margin-left: 20px;}
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
nav{
    position: fixed;
    width: 100vw;
    z-index: 4;
}






/*========== TEXTO HEADER ==========*/


.header-content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt-header{
    width: 70%;
    color: #fff;
}
.txt-header p{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.txt-header h1{
    font-size: 50px;
}
.btn-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-header .btn-ini{
    background: #fff;
    border-radius: 20px;
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.txt-header .btn-ini:hover{
    background: var(--primary-color);
    color: #fff;
}


@media screen and (max-width:800px) {
    .txt-header{
        width: 80%;
    }
    .txt-header h1{
        font-size: 45px;
    }
    .txt-header p{
        font-size: 25px;
    }
    .txt-header .btn-ini{
        width: 80%;
        font-size: 30px;
        height: 80px;
    }
}


/*========== INTRO ==========*/



.intro-index{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 50px;
}
.intro-index .txt{
    display: block;
    width: 40%;
    padding: 15px;
}
.intro-index .txt .head{text-align: left;}
.intro-index .txt .head h1{color: var(--primary-color);}
.intro-index .txt .head h4{
    margin-top: 10px;
    color: var(--gray-color);
}
.intro-index .txt .info{
    text-align: justify;
    margin-top: 20px;
    line-height: 1.5;
}
.intro-index .img{
    width: 60%;
    padding: 20px;
}
.intro-index .img img{width: 80%;}
@media screen and (max-width:800px) {
    .intro-index{
        display: block;
        padding: 15px;
    }
    .intro-index .txt{
        width: 100%;
    }
    .intro-index .img{
        width: 100%;
    }
    .intro-index .txt .head h1{font-size: 33px;}
    .intro-index .txt .head h4{font-size: 25px;}
    .intro-index .txt .info p{font-size: 20px;}
}




/*========== CARACTERISTICAS ==========*/




.car-index{
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
}
.car-index .sec-car, .car-index .sec-car .car{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.car-index .sec-car .title{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
}
.car-index .sec-car .car{
    width: 40%;
    padding: 20px;
    margin: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.car-index .sec-car .car .img{
    color: var(--primary-color);
    font-size: 3rem;
    margin: 10px;
}
.car-index .sec-car .logo-car{
    color: #fff;
    font-size: 5rem;
    margin: 15px;
}
nav{position: fixed;}
@media screen and (max-width:800px) {
    .car-index{
        padding-top: 1px;
        padding-bottom: 50px;
    }
    .car-index .sec-car, .car-index .sec-car .car{
        display: block;
    }
    .car-index .sec-car{
        padding: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .car-index .sec-car .car{
        width: 100%;
        margin: 0;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .car-index .sec-car .logo-car{display: none;}
}